---
---

<section class="">
    <video src="./img/video/video_5.mp4"class="w-full  aspect-auto  object-cover object-top brightnes-50 clear" autoplay muted>
</video>
<div class="absolute inset-0 flex flex-col items-center justify-center gap-10">
    <h1 class="text-4xl font-bold">Descubre las Mejores Oportunidades Inmobiliarias </h1>
</div>
</section>