---
import {propiedades} from "../../data/propiedades.js";
import CarouselPropiedades from "../CarouselPropiedades.astro";
---

<section class="pt-36">

    <div class="text-center  mb-16 ">
        <h3 class=" text-6xl font-semibold">Nuestras Propiedades</h3>
    </div>
    <article class="overflow-hidden ">
        <div id="card" class="flex animate-scroll">
            {propiedades.map((propiedad)=>(
                <CarouselPropiedades propiedad={propiedad}/>
            ))
            }
            
        </div>
    </article>
</section>
<style>
    @keyframes scroll {
        0%{
            transform:translateX(0);  
        }
        100%{
            transform:translateX(calc(-400px * 5 - 0.5rem *10));
        }
        
    }
    .animate-scroll{
        animation:scroll 30s linear infinite;
    }
    .animate-scroll:hover{
        animation-play-state: paused;
    }
</style>